@charset "UTF-8";

*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* ===== BODY ===== */
body{
font-family: system-ui, -apple-system, sans-serif;
color:#ffffff;
line-height:1.6;
margin: 0;
background-color: #140c25; /* base roxa escura */
background-image:
    linear-gradient(45deg, rgba(255,255,255,0.02) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(255,255,255,0.02) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(255,255,255,0.02) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(255,255,255,0.02) 75%);

background-size: 20px 20px; /* menor que antes */
background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
color: white;
}


header{
  padding:0px;
  background:#020617;
  text-align: center;
}


/* ===== NAVBAR ===== */
nav{
  background:#8601f3;
  border:none;
  color:white;
  border-radius:8px;
  cursor:pointer;
  box-shadow: 0px 7px 7px rgba(75, 0, 136, 0.418);
  top: 0px;
  width:100%;
  padding:5px 25%;
  display:flex;
  justify-content:space-between;
  z-index:1000;
 
}
nav a{
  text-decoration: none;
  padding: 10px;
  color: rgb(255, 255, 255); 
  font-weight: bolder;
  border-radius: 5px;
  transition-duration: 1s;
}

nav a:hover{
color:rgb(96, 4, 172);
background-color: #ffffff;
}

/* ===== HERO ===== */
.hero{
height:60vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding-bottom: 0px;
padding-top: 60px;
}

.hero h1{
font-size:2rem;
}

.hero span{
color:#ffffff;
}

.hero p{
margin:5px 8%;
color: #ffffff;
font-size: 1rem;
}

/* ===== FOTO PERFIL ===== */
.perfil {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -30px;
}

.perfil img {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  object-fit: cover;  
  border: 4px solid #9021f8; 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* ===== SOCIAL ICONS ===== */
.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.icon {
  background: #000;
  color: #9026f3;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.icon:hover {
  background: #9729ff;
  color: white;
  transform: scale(1.1);
}

/* ===== btn-contato ===== */
.btn-contato {
  display: inline-block;
  padding: 12px 30px;
  background: linear-gradient(90deg, #9525ff, #7e22ce);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-contato:hover {
  transform: scale(1.05);
}

/* ===== CONTAINER PADRÃO ===== */
section{
padding:20px 15%;
padding-bottom: 0%;
}

/* ===== TITULOS ===== */
h1,h2,h3{
margin-bottom:10px;
}

h1{
  color: #9747ff;
}

h2{
font-size:2rem;
color:white;
}

h2{
font-size:1.5rem;
color:white;
}

/* ===== GRID (cards automáticos) ===== */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:10px;
}

/* ===== CARD ===== */
.card{
background:#1e293b;
padding:25px;
border-radius:14px;
transition:.3s;
}

.card ul {
  padding-left: 20px; 
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 0 15px #8003d3;
}

/* ===== LINKS ===== */
a{
color:#833bf6;
text-decoration: none;
}

a:hover{
opacity:.8;
}

/* ===== SKILLS SUBTITULOS ===== */
#skills h2{
margin-top:5px;
color:#ffffff;
}

/* ===== FOOTER ===== */
footer{
text-align:center;
padding:20px, 0;
color:#94a3b8;
width: 100%;
}

.footer a{
  text-decoration: none;
}

.footer a:hover {
  text-decoration:none;
}

/* ===== SCROLL SUAVE ===== */
html{
scroll-behavior:smooth;
}

/* ===== RESPONSIVO ===== */
@media(max-width:768px){

section{
padding:60px 7%;
}

.hero h1{
font-size:2rem;
}

nav{
padding:15px 7%;}
}

