@charset "UTF-8";

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, sans-serif;
background:#0f172a;
color:white;
line-height:1.6;
}

header{
  padding:20px;
  background:#020617;
}

header h2 {
  font-weight: 600;
  font-size:40px;
}
nav{
  background:#8601f3;
  border:none;
  color:white;
  border-radius:8px;
  cursor:pointer;
  padding:12px 20px;
  box-shadow: 0px 7px 7px rgba(75, 0, 136, 0.767);
 
}
nav a{
  text-decoration: none;
  padding: 10px;
  color: rgb(255, 255, 255); 
  font-weight: bolder;
  border-radius: 5px;
  transition-duration: 0.8s;
}

nav a:hover{
color:rgb(96, 4, 172);
background-color: #ffffff;
}

h1{
  color: #ac47ff;
}
section{
  padding:60px;
}

.card{
  background:#1e293b;
  padding:20px;
  border-radius:12px;
  margin:10px 0;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
  box-shadow:0 0 15px #8003d3;
}

